@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topo{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}
.tela-entrada{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index: 2;
    top: 0;
    left: 0;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.tela-entrada input{
    text-align: center;
    border: 1px solid #d7d7d7;
    height: 54px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
}
.tela-entrada ::placeholder{
    color: #aeaeae;
}
.logo-entrada{
    margin-bottom: 100px;
}
.login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botao{
    margin-top: 15px;
    height: 45px;
    width: 30%;
    justify-content: center;
    background-color: #e7e7e7;
    border-radius: 8px;
    color: #696969;
}
.spinner img{
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}
.topo ion-icon{
    font-size: 45px;
    margin: 25px;

}
.topo img{
    margin: 16px 25px 11px 25px;
}
.mensagens{
    width: 100%;
    max-width: 100%;
    margin-top: 106px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: break-word;

}
.mensagens *{
    word-wrap: break-word;
}
strong {
    font-weight: 700;
}
.mensagens span {
    display: inline-block;
    max-width: 100%;
}
.mensagem{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 4px 8px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 40px;

}
.mensagem h4 {
    display: inline-block;
    color: grey;
}
.escrever-mensagem{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    font-size: 26px;
}
.escrever-mensagem input{
    font-size: 18px;
    width: 100%;
    font-style: italic;
    line-height: 21px;
    color: #000000;
    border-width: 0px;

}
.escrever-mensagem div{
    width: calc(100% - 36px);
}
.escrever-mensagem h3{
    font-size: 14px;
    line-height: 25px;
    color: grey;
    max-width: 100%;
    word-wrap: break-word;
}
.contatos-ativos{
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.sombreada{
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.contatos-ativos ion-icon{
    font-size: 20px;
    margin: 10px;
}
.participantes{
    width: 70%;
    max-width: 70%;
    overflow-y: scroll;
    height: 100%;
    padding: 18px;
    background-color: #ffffff;
}
.contatos > div{
    display: flex;
    align-items: center;
    line-height: 36px;
}
.selecao-contatos{
    text-align: center;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contato h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
}
h2 ion-icon{
    color: green;
    background-color: #ffffff;
}
input{
    outline: none;
}
::placeholder{
    color:#000000;
    opacity: 1;
}
.vermelho{
    background-color: #FADEDD;
}
.cinza{
    background-color: #DCDCDC;
}
.invisivel{
    display: none;
}
.selecionado{
    display: initial;
}
